version: 2.1
jobs:
  test-unit:
    docker:
      - image: sineverba/php8xc:1.8.0
    steps:
      - checkout
      - run: rm composer.lock
      - run: composer install
      - run: ./vendor/bin/phpunit

workflows:
  version: 2
  tests:
    jobs:
      - test-unit:
          filters:
            branches:
              only:
                - master
